* {
  font-family: helvetica;
}
body {
  background: #555c8f;
}

.container {
  width: 80%;
  margin: 0;
}

header {
  background: #016ebd;
  padding: 20px;
  margin: 10px;
  margin-right: 10px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;

}

nav {
  float: right;


}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
}
h2 {
  /*float: right;*/


}

p {
  margin-top: 50px;
  margin-left: 10px;
  font-size: 12pt;
}
.box{
  position: relative;
  width: 200px;
  height:200px;
  /*outline: dotted 5px orange; */

}

.box span {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  text-align: center;
  padding: 10px 0;

}
img {
  float: left;
  margin: 4px;

}
